<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <btob>
            <default_b2b_shipping_methods>
                <applicable_shipping_methods>0</applicable_shipping_methods>
            </default_b2b_shipping_methods>
        </btob>
    </default>
</config>
