<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\OrderHistorySearch\Model\Filter\FilterPool">
        <arguments>
            <argument name="filtersClassMap" xsi:type="array">
                <item name="order-number" xsi:type="string">Magento\OrderHistorySearch\Model\Filter\OrderNumber</item>
                <item name="invoice-number" xsi:type="string">Magento\OrderHistorySearch\Model\Filter\InvoiceNumber</item>
                <item name="product-name-sku" xsi:type="string">Magento\OrderHistorySearch\Model\Filter\ProductSku</item>
                <item name="order-status" xsi:type="string">Magento\OrderHistorySearch\Model\Filter\OrderStatus</item>
                <item name="order-date-from" xsi:type="string">Magento\OrderHistorySearch\Model\Filter\OrderDateFrom</item>
                <item name="order-date-to" xsi:type="string">Magento\OrderHistorySearch\Model\Filter\OrderDateTo</item>
                <item name="order-total-min" xsi:type="string">Magento\OrderHistorySearch\Model\Filter\OrderTotalMin</item>
                <item name="order-total-max" xsi:type="string">Magento\OrderHistorySearch\Model\Filter\OrderTotalMax</item>
                <item name="created-by" xsi:type="string">Magento\OrderHistorySearch\Model\Filter\CreatedBy</item>
            </argument>
        </arguments>
    </type>
</config>
