<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\RequisitionListGraphQl\Model\Resolver\RequisitionList\Item\ProductType">
        <arguments>
            <argument name="supportedTypes" xsi:type="array">
                <item name="simple" xsi:type="string">SimpleRequisitionListItem</item>
                <item name="virtual" xsi:type="string">VirtualRequisitionListItem</item>
            </argument>
        </arguments>
    </type>
    <preference for="Magento\RequisitionListGraphQl\Model\RequisitionList\Item\DataProvider\CustomizableOptionInterface"
                type="Magento\RequisitionListGraphQl\Model\RequisitionList\Item\DataProvider\CustomizableOptionType\Composite"/>
    <type name="Magento\RequisitionListGraphQl\Model\RequisitionList\Item\DataProvider\CustomizableOptionType\Composite">
        <arguments>
            <argument name="customizableOptionTypes" xsi:type="array">
                <item name="field" xsi:type="string">Magento\RequisitionListGraphQl\Model\RequisitionList\Item\DataProvider\CustomizableOptionType\Text</item>
                <item name="date" xsi:type="string">Magento\RequisitionListGraphQl\Model\RequisitionList\Item\DataProvider\CustomizableOptionType\Text</item>
                <item name="time" xsi:type="string">Magento\RequisitionListGraphQl\Model\RequisitionList\Item\DataProvider\CustomizableOptionType\Text</item>
                <item name="date_time" xsi:type="string">Magento\RequisitionListGraphQl\Model\RequisitionList\Item\DataProvider\CustomizableOptionType\Text</item>
                <item name="area" xsi:type="string">Magento\RequisitionListGraphQl\Model\RequisitionList\Item\DataProvider\CustomizableOptionType\Text</item>
                <item name="drop_down" xsi:type="string">Magento\RequisitionListGraphQl\Model\RequisitionList\Item\DataProvider\CustomizableOptionType\Dropdown</item>
                <item name="radio" xsi:type="string">Magento\RequisitionListGraphQl\Model\RequisitionList\Item\DataProvider\CustomizableOptionType\Dropdown</item>
                <item name="checkbox" xsi:type="string">Magento\RequisitionListGraphQl\Model\RequisitionList\Item\DataProvider\CustomizableOptionType\Multiple</item>
                <item name="multiple" xsi:type="string">Magento\RequisitionListGraphQl\Model\RequisitionList\Item\DataProvider\CustomizableOptionType\Multiple</item>
            </argument>
        </arguments>
    </type>
</config>
