<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Paypal\Model\ExpressConfigProvider">
        <plugin name="negotiable_quote_paypal_express_config_urls" type="Magento\PaypalNegotiableQuote\Plugin\Paypal\Model\ExpressConfigProvider"/>
    </type>
    <type name="Magento\Paypal\Controller\Express\AbstractExpress\Cancel">
        <plugin name="negotiable_quote_paypal_express_cancel_url" type="Magento\PaypalNegotiableQuote\Plugin\Paypal\Controller\Express\AbstractExpress\Cancel"/>
    </type>
    <type name="Magento\Paypal\Model\Api\Nvp">
        <plugin name="negotiable_quote_paypal_token_store" type="Magento\PaypalNegotiableQuote\Plugin\Paypal\Model\Api\NvpPlugin"/>
    </type>
    <type name="Magento\Paypal\Controller\Express\AbstractExpress">
        <plugin name="negotiable_quote_paypal_express_abstract" type="Magento\PaypalNegotiableQuote\Plugin\Paypal\Controller\Express\AbstractExpress"/>
    </type>
    <type name="Magento\Payment\Block\Transparent\Redirect">
        <plugin name="negotiable_quote_payment_transparent_redirect" type="Magento\PaypalNegotiableQuote\Plugin\Payment\Block\Transparent\RedirectPlugin"/>
    </type>
    <type name="Magento\Paypal\Model\PayflowConfig">
        <plugin name="negotiable_quote_paypal_payflow_config" type="Magento\PaypalNegotiableQuote\Plugin\Paypal\Model\PayflowConfigPlugin"/>
    </type>
    <type name="Magento\Paypal\Model\Payflow\Service\Request\SecureToken">
        <plugin name="negotiable_quote_paypal_payflow_service_request_secure_token" type="Magento\PaypalNegotiableQuote\Plugin\Paypal\Model\Payflow\Service\Request\SecureTokenPlugin"/>
    </type>
</config>
